---
permalink: _redirects
---

/  /fr/index.html 302 Language=fr

{%- for obj in news %}
/  /{{obj.country}}/index.html  302  Country={{obj.country}}
{%- endfor %}

/en/* /en/404.html 404
/de/* /de/404.html 404